.body{
    background-color: #757575;
}

.div1{
    background-color: white;
    height: 500px;
    width: 50vw;
    border-width: 10px;
    border-style: dotted;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div2{
    background-color: yellow;
    height: 50px;
    width: 30%;
}

.div3{
    background-color: orangered;
    height: 100px;
    width: 30%;
}
.div4{
    background-color: rgb(2, 136, 2);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
}